<!DOCTYPE html>
<html>
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script language="javascript" type="text/javascript"></script>
    <script>
      $( document ).ready(function() {
        $('#aggiungiUtente').click(function( event ) {
          var obj = {};
          obj['username']= document.getElementById('usernameAdd').value;
          obj['nome']= document.getElementById('nomeAdd').value;
          obj['cognome']= document.getElementById('cognomeAdd').value;
          obj['email']= document.getElementById('emailAdd').value;
          obj['password']= document.getElementById('passAdd').value;
          $.ajax({
            url: 'http://localhost:8080/utente/inserisci',
            type: 'POST',
            contentType: 'application/json',
            data: JSON.stringify(obj),
            dataType: 'json'
          });
        });
      });
    </script>
  </head>
  <body>
    <p>
      <label>Username</label>
      <input id="usernameAdd" type="text" />
    </p>

    <p>
      <label>Nome</label>
      <input id="nomeAdd" type="text"/>
    </p>

    <p>
      <label>Cognome</label>
      <input id="cognomeAdd" type="text"/>
    </p>

    <p>
      <label>Email</label>
      <input id="emailAdd" type="text"/>
    </p>

    <p>
      <label>Password</label>
      <input id="passAdd" type="text"/>
    </p>

    <p>
      <button id="aggiungiUtente">Aggiungi</button>
    </p>
  </body>
</html>
