<html>
<head>
    <title>Modifica</title>

    <script src="/vendor/jquery/jquery-3.2.1.min.js"></script>
    <script src="/js/modello.js"></script>
</head>

<body>
    <p id="control"></p>
    <input type="text" id="id_modello" placeholder="Id Modello" />
    <input type="text" id="nome_modello" placeholder="Nome Modello" />
    <input type="text" name="att" placeholder="Attributo 1" />
    <input type="text" name="att" placeholder="Attributo 2" />
    <input type="text" name="att" placeholder="Attributo 3" />
    <button type="submit" onclick="modifica_modello()">Invia</button>
</body>
</html>
