<html>
<head>
    <title>Richiedi</title>
    <script src="/js/jquery.js"></script>
</head>

<body>
    <p>Richiedi</p>
    <input type="text" id="id_modello" placeholder="Id Modello" />
    <button type="submit" onclick="richiedi_modello()">Invia</button>
    <table id="tabella">
        <thead>
            <tr>
                <th>Id_Modello</th>
                <th>Nome_Modello</th>
                <th>Attributi</th>
            </tr>
        </thead>
    </table>

    <script src="/js/modello.js"></script>
</body>
</html>