<!DOCTYPE html>
<html>
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script language="javascript" type="text/javascript"></script>
    <script>
      $( document ).ready(function() {
          $('#eliminaUtente').click(function( event ) {
            var obj = "/" + String(document.getElementById('usernameDel').value);
            $.ajax({
              url: 'http://localhost:8080/utente/elimina' + obj,
              type: 'GET',
            });
          });
      });
    </script>
  </head>
  <body>
    <p>
      <label>Username</label>
      <input id="usernameDel" type="text"/>
    </p>

    <p>
      <button id="eliminaUtente">Elimina</button>
    </p>
  </body>
</html>
