<!DOCTYPE html>
<html>
  <head>
    <script src="/vendor/jquery/jquery-3.2.1.min.js"></script>
    <script src="/js/utente.js"></script>
  </head>
  <body>
    <p>
      <label>Username</label>
      <input id="usernameMod" type="text" />
    </p>

    <p>
      <label>Nome</label>
      <input id="nomeMod" type="text"/>
    </p>

    <p>
      <label>Cognome</label>
      <input id="cognomeMod" type="text"/>
    </p>

    <p>
      <label>Email</label>
      <input id="emailMod" type="text"/>
    </p>

    <p>
      <label>Password</label>
      <input id="passMod" type="text"/>
    </p>

    <p>
      <button onclick="modifica_utente()">Modifica</button>
    </p>
  </body>
</html>
