<!DOCTYPE html>
<html>
  <head>
    <style>
      table, th, td {
        border: 1px solid black;
      }
    </style>
    <script src="/vendor/jquery/jquery-3.2.1.min.js"></script>
    <script src="/js/utente.js"></script>
  </head>
  <body >
    <p>
      <label>Username</label>
      <input id="usernameGET" type="text"/>
      <button onclick="richiedi_utente()">Richiedi</button>
    </p>
    <table style="border:1;" id="tabella">
      <thead>
        <tr>
          <th>username</th>
          <th>nome</th>
          <th>cognome</th>
          <th>email</th>
          <th>password</th>
        </tr>
      </thead>
    </table>
  </body>
</html>
