<!DOCTYPE html>
<html>
  <head>
    <title>Crea una Tabella</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="js/newTable.js"></script>
    <script src="vendor/jquery/jquery-3.2.1.min.js"></script>
    <script src="vendor/bootstrap/js/popper.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="vendor/select2/select2.min.js"></script>
    <!--[[   CSS   ]]-->
    <!-- Script del template Helios -->
      <script src="assets/js/jquery.min.js"></script>
      <script src="assets/js/jquery.dropotron.min.js"></script>
      <script src="assets/js/jquery.scrolly.min.js"></script>
      <script src="assets/js/jquery.onvisible.min.js"></script>
      <script src="assets/js/skel.min.js"></script>
      <script src="assets/js/util.js"></script>
      <script src="assets/js/main.js"></script>
      <script src="js/eliminaFile.js"></script>
    <!-- CSS del template -->
    <link rel="stylesheet" href="assets/css/main.css" />
    <!-- CSS della tabella -->
    <link rel="stylesheet" href="assets/css/creaTabella.css">
    <link rel="stylesheet" href="assets/css/utilTable.css" />
    <link rel="stylesheet" href="vendor/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="vendor/animate/animate.css" />
    <link rel="stylesheet" href="vendor/select2/select2.min.css" />
    <link rel="stylesheet" href="vendor/perfect-scrollbar/perfect-scrollbar.css" />
  </head>
  <body onload="genera_tabella();eliminaFile();">
    <div id="limiter" class="limiter">
      <div>
        <!-- BARRA DI NAVIGAZIONE -->
    		<nav id="nav">
    			<ul>
    				<li>
    					<a href="#">Modelli</a>
    					<ul>
    						<li><a href="../modello">I tuoi modelli</a></li>
    						<li><a href="../modello/aggiungi">Aggiungi un modello</a></li>
    					</ul>
    				</li>
    				<li>
    					<a href="#">Tabelle</a>
    					<ul>
    						<li><a href="../tabella">Le tue tabelle</a></li>
    					</ul>
    				</li>
    				<li><a href="index.html"><img src="assets/images/logo.png" id="logo_softable" alt="logo_softable"></a></li>
    				<li id="li_log"><a href="#" onclick="document.getElementById('login_div').style.display='block'" style="width:auto;">Accedi</a></li>
    				<li id="li_reg"><a href="#" onclick="document.getElementById('register_div').style.display='block'" style="width:auto;">Registrati</a></li>
    			</ul>
    		</nav>
      </div>

      <div class="table-users" id="divTabella"></div>

    </div>

	<!-- SCRIPT PER LA LETTURA DEL COOKIE E LA SCRITTURA DELL'USERNAME NELLA BARRA IN ALTO -->
	<script>
		if (leggiCookie('username') != "null") {
			document.getElementById('li_log').innerHTML = "<a href='/'>" + leggiCookie('username') + "</a>";
			document.getElementById('li_reg').innerHTML = "<a href='/' onclick='esci();'>Esci</a>";
		} else {
			window.location.href = '../';
		}
	</script>
  </body>
</html>
