<!DOCTYPE html>
<html>
<head>

    <style>
        #logo_softable {
			position: relative;
			top: 36px;
            height: 80px;
            width: 80px;
			margin: 0 0 0 0;
			padding: 0 0 0 0;
        }
		
		#accedi > a.active {
			border-color: rgba(192, 192, 192, 0.35);
		}
    </style>

    <title>Home</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!--[[   CSS   ]]-->
    <link rel="stylesheet" href="assets/css/main.css" />
    <!--[[   SCRIPT   ]]-->
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/jquery.dropotron.min.js"></script>
    <script src="assets/js/jquery.scrolly.min.js"></script>
    <script src="assets/js/jquery.onvisible.min.js"></script>
    <script src="assets/js/skel.min.js"></script>
    <script src="assets/js/util.js"></script>
    <script src="assets/js/main.js"></script>
</head>

<body class="homepage">
    <div id="page-wrapper">

      <div id="header">

            <div class="inner">
                <header>
                    <h1><a href="index.html" id="logo">Helios</a></h1>
                    <hr />
                    <p>Another fine freebie by HTML5 UP</p>
                </header>
                <footer>
                    <a href="#banner" class="button circled scrolly">Start</a>
                </footer>
            </div>

            <nav id="nav">
                <ul>
                    <li><a href="index.html">Home</a></li>
                    <li>
                        <a href="#">Tabelle</a>
                        <ul>
                            <li><a href="#">Lorem ipsum dolor</a></li>
                            <li><a href="#">Magna phasellus</a></li>
                            <li><a href="#">Etiam dolore nisl</a></li>
                            <li>
                            <a href="#">And a submenu &hellip;</a>
                            <ul>
                                <li><a href="#">Lorem ipsum dolor</a></li>
                                <li><a href="#">Phasellus consequat</a></li>
                                <li><a href="#">Magna phasellus</a></li>
                                <li><a href="#">Etiam dolore nisl</a></li>
                            </ul>
                            </li>
                            <li><a href="#">Veroeros feugiat</a></li>
                        </ul>
                    </li>
                    <li><a href="index.html"><img src="assets/images/logo.png" id="logo_softable" alt="logo_softable"></a></li>
                    <li class="opener" style="-moz-user-select: none; cursor: pointer; white-space: nowrap; opacity: 1;">
						<a id="accedi" href="#" onclick="document.getElementById('id01').style.display='block'" style="width:auto;">Accedi</a>
					</li>
                    <li><a href="/login">Registrati</a></li>
                </ul>
            </nav>
        </div>
    </div>
	
	<div id="id01" class="modal">
		<div class="modal-content animate">
			<div class="imgcontainer">
				<span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">&times;</span>
				<img src="img/img_avatar2.png" alt="Avatar" class="avatar">
			</div>

			<div class="container">

				<label for="username"><b>Username</b></label>
				<input type="text" placeholder="Inserisci il tuo Username" id="username" required>

				<label for="password"><b>Password</b></label>
				<input type="password" placeholder="Inserisci la tua Password" id="password" required>

				<button type="submit" onclick="accedi_utente()">Entra</button>
				<label>
				<input type="checkbox" checked="checked" name="remember"> Ricordami
				</label>
			</div>

			<div class="container" style="background-color:#f1f1f1">
				<button type="button" onclick="document.getElementById('id01').style.display='none'" class="cancelbtn">Annulla</button>
				<span class="psw">Hai dimenticato la <a href="#">password?</a></span>
			</div>
		</div>
	</div>

</body>
</html>