<!DOCTYPE html>
<html>
  <head>
      <title>Tabella</title>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">

      <script src="js/table.js"></script>
    	<script src="vendor/jquery/jquery-3.2.1.min.js"></script>
    	<script src="vendor/bootstrap/js/popper.js"></script>
    	<script src="vendor/bootstrap/js/bootstrap.min.js"></script>
    	<script src="vendor/select2/select2.min.js"></script>

      <link rel="stylesheet" type="text/css" href="assets/css/util.css">
      <link rel="stylesheet" type="text/css" href="assets/css/main.css">
      <link rel="stylesheet" type="text/css" href="assets/css/font-awesome.min.css">
      <link rel="stylesheet" type="text/css" href="assets/css/ie8.css">
      <link rel="icon" type="image/png" href="images/icons/favicon.ico"/>
      <link rel="stylesheet" type="text/css" href="vendor/bootstrap/css/bootstrap.min.css">
      <link rel="stylesheet" type="text/css" href="vendor/animate/animate.css">
      <link rel="stylesheet" type="text/css" href="vendor/select2/select2.min.css">
      <link rel="stylesheet" type="text/css" href="vendor/perfect-scrollbar/perfect-scrollbar.css">
  </head>
  <body>
    <div class="limiter">
      <form align=center>
        Tabella richiesta:<input type="text" id="id_tabella" style="size:10%;">
        <input type="button" onclick="inserisci_tabella_inPagina(id_tabella.value)" value="Aggiungi">
      </form>
      <div class="container-table100">
          <div class="wrap-table100">
              <div class="table100 ver1 m-b-110" id="div_table"></div>
          </div>
      </div>
    </div>
  </body>
</html>
