<html>
  <head>
      <title>Tabella</title>
      <script src="/vendor/jquery/jquery-3.2.1.min.js"></script>
      <script src="/js/tabella.js"></script>
  </head>
  <body onload="visualizza_collezione()">
      <table id="tabella">
          <thead>
              <tr>
                  <th>Key</th>
                  <th>Id_Tabella</th>
                  <th>Username</th>
                  <th>id_Modello</th>
                  <th>Tabella</th>
              </tr>
          </thead>
      </table>
  </body>
</html>
