<html>
<head>
    <title>Inserisci</title>

    <script src="/vendor/jquery/jquery-3.2.1.min.js"></script>
    <script src="/js/tabella.js"></script>
</head>

<body>
    <p id="control"></p>
    <input type="text" placeholder="Inserisci l'id del modello" id="modello"/><br>
    <input type="text" placeholder="Inserisci un dato" name="dati"/><br>
    <input type="text" placeholder="Inserisci un dato" name="dati"/><br>
    <input type="text" placeholder="Inserisci un dato" name="dati"/><br>
    <!--
        p Aggiungi
        input(type="number" name="aggiungi_attributi")
        p attributi/o
    -->
    <button type="submit" onclick="inserisci_tabella()">Aggiungi</button>

</body>
</html>
