<html>
<head>
    <title>Modifica</title>
    <script src="/js/jquery.js"></script>
    <script src="/js/tabella.js"></script>
</head>

<body>
    <p id="control"></p>
    <input type="text" id="id_tabella" placeholder="Id Tabella" />
    <input type="text" id="id_modelloTabella" placeholder="Nome Modello" />
    <input type="text" id="username" placeholder="user" />
    <input type="text" name="dati" placeholder="dati 1" />
    <input type="text" name="dati" placeholder="dati 2" />
    <input type="text" name="dati" placeholder="dati 3" />
    <button type="submit" onclick="modifica_tabella()">Invia</button>
</body>
</html>
